* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: rgb(220, 206, 206);
}

.title h1 {
    margin: 5rem 1rem;
    text-align: center;
}

.source-selection h2 {
    font-size: 1.5em;
    margin: 3em 1em;
    text-align: center;
}

.box-selection {
    display: flex;
    margin: 3rem;
    gap: 2rem;
    text-align: center;
}

.box-selection > * {
    flex:1;
    padding: 1em;
}

.selection {
    font-size: 1.25em;
}