* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: rgb(220, 206, 206);
}

.title h1 {
    margin: 20%  1%;
    text-align: center;
}

.source-selection h2 {
    font-size: 1.5em;
    margin: 3em 1em;
    text-align: center;
}

